<app-header></app-header>

<div class="requests-container">
  <div class="requests-header">
    <h1>&nbsp;</h1>
  </div>

  <div class="requests-table-container">
    <table class="requests-table">
      <thead>
        <tr>
          <th>Request #</th>
          <th>Service Type</th>
          <th>Submission Date</th>
          <th>Last Updated</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        @for (request of requests; track request.id) {
          <tr [routerLink]="['/my-requests', request.id]" class="table-row" >
            <td>
              <a class="request-link">{{ request.id }}</a>
            </td>
            <td>{{ request.serviceType }}</td>
            <td>{{ request.submissionDate }}</td>
            <td>{{ request.lastUpdated }}</td>
            <td>
              <span class="status-badge" [ngClass]="getStatusClass(request.status)">
                {{ request.status }}
              </span>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
